/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    height: 100%;
    /*background: url('../images/picjumbo-bg.png');*/
    background-color: #000000;

}

body {
    font-family: montserrat, arial, verdana;
}

h1
{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    letter-spacing: normal;


}
.container
{
    width: 1080px;
    margin: 0 auto;
}
.footer
{
    width: 100%;
    background-color: #373A42;
    float: left;
    padding: 30px 0px;
    text-align: center;
}

/*form styles*/
#lpform {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}
#lpform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#lpform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#lpform input, #lpform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
}
/*buttons*/
#lpform .action-button {
    width: 80px;
    background: #1C97CA;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    /*	float:left;
        margin-left:40px;*/
}
#lpform .action-button2 {
    width: 30px;
    background: #fff;
    font-size: 36px;
    line-height: 16px;
    color: #1C97CA;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 1px;
    margin: 5px 1px;
    float: left;
}
#lpform .action-button3 {
    width: 100px;
    background: #1c97ca;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 4px;
    margin: auto 0;

}

#lpform .action-button:hover,  #lpform .action-button:focus {
    /*  box-shadow: 0 0 0 2px white, 0 0 0 3px #1C97CA; */
    opacity:.5;
}
#lpform .action-button2:hover{
    opacity:.5;
}

#fileupload {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 35px;
}
#fileupload fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 50px;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#fileupload fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#fileupload input, #fileupload textarea {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /*margin-bottom: 10px;*/
    width: 100%;
    box-sizing: border-box;
    /*font-family: montserrat;*/
    color: #2C3E50;
    font-size: 16px;
}
/*buttons*/
#fileupload .action-button {
    width: 80px;
    background: #1C97CA;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    /*	float:left;
        margin-left:40px;*/
}
#fileupload .action-button2 {
    width: 30px;
    background: #fff;
    font-size: 36px;
    line-height: 16px;
    color: #1C97CA;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 1px;
    margin: 5px 1px;
    float: left;
}
#fileupload .action-button3 {
    width: 100px;
    background: #1c97ca;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 4px;
    margin: auto 0;

}

#fileupload .action-button:hover,  #fileupload .action-button:focus {
    /*  box-shadow: 0 0 0 2px white, 0 0 0 3px #1C97CA; */
    opacity:.5;
}
#fileupload .action-button2:hover{
    opacity:.5;
}


#siform {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}
#siform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 50px;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#siform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#siform input, #siform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
}
/*buttons*/
#siform .action-button {
    width: 80px;
    background: #1C97CA;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    /* float:left;
     margin-left:40px;*/
}
#siform .action-button2 {
    width: 30px;
    background: #fff;
    font-size: 36px;
    line-height: 16px;
    color: #1C97CA;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 1px;
    margin: 5px 1px;
    float: left;
}
#siform .action-button3 {
    width: 100px;
    background: #1c97ca;
    font-size: 20px;
    line-height: 16px;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 4px;
    margin: auto 0;

}


#siform .action-button:hover,  #siform .action-button:focus {
    /*  box-shadow: 0 0 0 2px white, 0 0 0 3px #1C97CA; */
    opacity:.5;
}
#siform .action-button2:hover{
    opacity:.5;
}
#siform {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}
#siform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 50px;
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#siform fieldset:not(:first-of-type) {
    display: none;
}

.action-button4 {
    width: 100px;
    background: #1c97ca;
    font-size: 20px;
    line-height: 16px;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 4px;
    margin: auto 0;

}

/*inputs*/
#zipform{
    width:570px;
    margin:0 auto;
    height:40px;
}

#zipc input  {
    width:280px;
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 12px;
    margin-top:-2px;
    /* width: 100%;*/
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;

}
/*buttons*/


#zipform .action-button:hover,  #zipform .action-button:focus {
    /*  box-shadow: 0 0 0 2px white, 0 0 0 3px #1C97CA; */
    opacity:.5;
}

#zipform .action-button {
    width: 160px;
    background: #1c97ca;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 17px  10px;
    margin-left:13px;
    /*float:right;*/
    /*   margin-top:-30px;*/
    /*    margin: auto 0; */

}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #1C97CA;
    color: white;
}
